<include file="Shared:Header" />
<body>

<div class="tui_banner">
    <img src="__PUBLIC__/images/tuiguang_banner2.png"/>
</div>

<div class="tui_list">
    <img src="__PUBLIC__/images/tui_list.png"/>
    <!--<ul>-->
        <!--<li>-->
            <!--<img src="__PUBLIC__/images/tui_icon1.png"/>-->
            <!--<h1>延后还</h1>-->
            <!--<p>可续期还款延后30天</p>-->
        <!--</li>-->
        <!--<li>-->
            <!--<img src="__PUBLIC__/images/tui_icon2.png"/>-->
            <!--<h1>额度高</h1>-->
            <!--<p>最高可获5万额度</p>-->
        <!--</li>-->
        <!--<li>-->
            <!--<img src="__PUBLIC__/images/tui_icon3.png"/>-->
            <!--<h1>利息低</h1>-->
            <!--<p>信用越好 利息越低</p>-->
        <!--</li>-->
        <!--<li>-->
            <!--<img src="__PUBLIC__/images/tui_icon4.png"/>-->
            <!--<h1>到账快</h1>-->
            <!--<p>最快3分钟放款</p>-->
        <!--</li>-->

        <!--<div class="clear"></div>-->
    <!--</ul>-->

</div>

<!--<div class="tui_shadow">-->
    <!--<img src="__PUBLIC__/images/tui_shadow.png"/>-->
<!--</div>-->


<div class="down_btn">
    <button class="down_now">立即下载</button>
</div>


</body>
</html>