<!DOCTYPE html>
<html>
<head lang="en">
    <title>基本信息认证</title>
    <meta name="keywords" content=" "/>
    <meta name="author" content="order by www.lision.cn"/>
    <meta name="description" content=" "/>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">

    <link rel="stylesheet" type="text/css" href="../../css/basic.css">
    <link rel="stylesheet" type="text/css" href="../../css/certificate.css">
    <link rel="stylesheet" type="text/css" href="//at.alicdn.com/t/font_943224_3uipakph1eg.css">
    <script src="../../js/jquery-1.8.3.min.js"></script>
    <script src="../../js/mobile/layer.js"></script>
    <script src="../../js/common.js"></script>
</head>
<body>

<!--head-->
<div class="head">
    <span>基本信息认证</span>
    <a href="javascript:history.back();">
        <i class="iconfont icon-arrow-left"></i>
    </a>
</div>
<!--head end-->

<!--main-->
<div class="id_cer_main main">

    <form>
        <div style="background: #fff;">
            <div class="id_cer_m_list">

                <ul>
                    <li>
                        <span>QQ号码：</span>
                        <input type="number" placeholder="请输入QQ号码" class="cer_QQ">
                    </li>
                    <li>
                        <span>常住地址：</span>
                        <input type="text" placeholder="请输入地址" class="cer_ad">
                    </li>
                    <li>
                        <span>单位名称：</span>
                        <input type="text" placeholder="请输入单位名称" class="cer_ad">
                    </li>
                    <li>
                        <span>单位电话：</span>
                        <input type="number" placeholder="请输入单位电话" class="cer_ad">
                    </li>
                    <li>
                        <span>单位地址：</span>
                        <input type="text" placeholder="请输入单位地址" class="cer_ad">
                    </li>

                </ul>

            </div>
        </div>


        <div class="id_cer_m_btn tc">
            <button>提交</button>
        </div>

    </form>



</div>
<!--main end-->




</body>
</html>