<!DOCTYPE html>
<html>
<head lang="en">
    <title>自助还款</title>
    <meta name="keywords" content=" "/>
    <meta name="author" content="order by www.lision.cn"/>
    <meta name="description" content=" "/>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">

    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/basic.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/animotion.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/repayment.css">
    <link rel="stylesheet" type="text/css" href="//at.alicdn.com/t/font_943224_4ynv0fvxwzf.css">
    <script src="__PUBLIC__/js/jquery-1.8.3.min.js"></script>
    <script src="__PUBLIC__/js/mobile/layer.js"></script>
    <script src="__PUBLIC__/js/common.js"></script>
</head>
<body class="bg_white">

<!--head-->
<div class="head">
    <span>自助还款</span>
    <a href="javascript:history.go(-1)">
        <i class="iconfont icon-arrow-left"></i>
    </a>
</div>
<!--head end-->

<!--nav-->

<div class="renewal_nav">

    <div class="renewal_nav_con">
        <a href="">我要还款</a>
        <a href="renewal.html" class="active">我要续期</a>
        <div class="clear"></div>

    </div>

</div>


<div class="renewal_main">

    <div class="renewal_main_item">
        <h1>- 请选择期限天数 -</h1>

        <span class="date_btn"><i class="date">7</i>天</span>

        <ul class="ren_list">
            <li>
                续期还款日

                <i class="fr">2018-5-29</i>
            </li>
            <li style="background: #f6f6f6;">
                到期应还

                <i class="fr">￥560.00</i>
            </li>
        </ul>

    </div>


    <div class="renewal_main_item mt20">
        <h1>- 续期费用 -</h1>


        <ul class="ren_list">
            <li>
                本期息费

                <em class="fr">2.5元</em>
            </li>
            <li>
                本期服务费

                <em class="fr"><a href="pages/user/urual_question.html"><i class="iconfont icon-bangzhuzhongxin"></i></a> 20元</em>
            </li>
            <li style="background: #f6f6f6;">

                <span>总共应扣</span>
                <i class="fr">$22.50元</i>
            </li>
        </ul>

    </div>


    <div class="renewal_main_btn tc mt20">
        <a href="repay.html">
            <button>现在就还</button>
        </a>
    </div>

</div>

<!--nav end-->



<!--foot-->
<div class="foot">
    <ul>
        <li>
            <a href="index.html">
                <i class="iconfont icon-jiekuan"></i>
                <p>借款</p>
            </a>
        </li>
        <li class="active">
            <a href="renewal.html">
                <i class="iconfont icon-huankuan"></i>
                <p>还款</p>
            </a>
        </li>
        <li>
            <a href="pages/certification/certificate.html">
                <i class="iconfont icon-renzheng"></i>
                <p>认证</p>
            </a>
        </li>
        <li>
            <a href="pages/user/person.html">
                <i class="iconfont icon-renwu"></i>
                <p>我的</p>
            </a>
        </li>



        <div class="clear"></div>
    </ul>
</div>
<!--foot end-->




<!--遮罩层-->
<div id="cover"></div>


<!--下拉框1-->
<div class="date_list animated bounceInUp">

    <div class="dl_head">
        <button class="dl_close fl">取消</button>
        <button class="dl_sure fr">确定</button>
    </div>

    <div class="dl_list_list">
        <span>3</span>
        <span class="active">7</span>
        <span>15</span>
        <span>30</span>
        <span>60</span>
        <span>90</span>
        <span>180</span>
    </div>


</div>




<script>
    //    选择期限
    $(function(){
        $(".date_btn").click(function(){
            $("#cover").show();
            $(".date_list").show();
        });

        $(".dl_list_list span").click(function(){
            $(this).addClass("active").siblings().removeClass("active");
        });

        $(".dl_close").click(function(){
            $("#cover").hide();
            $(".date_list").hide();
        });

        $(".dl_sure").click(function(){

            var _text = $(".dl_list_list .active").text();
            $(".date").text(_text);
            $("#cover").hide();
            $(".date_list").hide();
        });
    })


</script>





</body>
</html>